<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ImageViewer.Properties.Settings>
            <setting name="controlFont" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="recentPath0" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPath1" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPath3" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPath4" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPath5" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPath6" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPath7" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPath8" serializeAs="String">
                <value />
            </setting>
            <setting name="recentPath9" serializeAs="String">
                <value />
            </setting>
        </ImageViewer.Properties.Settings>
    </userSettings>
</configuration>